* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sparten', sans-serif;
}

body {
    background-color: #535252;
}

nav {
    background: #e6e9f6;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
}

nav h1 {
    color: #222;
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #222;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgb(83, 166, 198);
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}